:root {
  --lightblue: white;
  --blue: teal;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline;
  margin: 0 20px; 
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333; 
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: blue;
  bottom: 0;
  left: 100%;
  transition: width 0.4s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}


a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-lightblue {
  background: var(--lightblue);
}

.bg-blue {
  background: var(--blue);
}

.text-blue {
  color: var(--blue);
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.p-15 {
  padding: 15px;
}

/* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
  background: var(--blue);
}

.scroll .hero {
  transform: scale(0.98);
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  transition: background 0.5s ease-in-out;
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  border-color: var(--white); 
}

/* BANNER SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.mt-3, .mt-4{
  padding: 10px 20px;
  color: #fff; /* Text color */
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.mt-3:hover, .mt-4:hover{
  transform: translateY(8px); 
  }
  .mt-4{
    position:absolute;
    top: 5.4rem;
    right: 15rem;
  }

.hero .container-fluid {
  z-index: 10;
}
.col-12.pt-3 {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(7px);
}

.process h3 {
  font-size: 1.5rem; 
  font-weight: bold;
  color: var(--blue);
}

/* POPULAR DESTINATIONS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
  margin-bottom: 30px;
  border-radius: 2rem;
}

.popular-destinations figcaption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.popular-destinations img {
  filter: grayscale(100%) blur(3px);
  transition: transform 0.5s, filter 0.75s;
}

.popular-destinations a:hover img {
  transform: scale(1.25);
  filter: none;
}

/* PAGE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
  text-align: right;
}

.col-12 col-md-6 footer-child copyright{
  text-align: center;
}

.my-info a{
  text-decoration: none;
  position: relative;
}
.my-info a::before{
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem; 
  background-color: blue; 
  transform: scaleX(0); 
  transform-origin: 100%;
  transition: all 0.5s ease; 
}
.my-info a:hover::before{
  transform: scaleX(1); 
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--blue);
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
}