body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: red; 
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: color 0.3s; 
}

header:hover {
    color: white; 
}


nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: red;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: lightgray;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.person-info {
    text-align: center;
}
.content p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; top:900px;right: 20px;
    font-family: arial;
    font-size: 16px;
}
.work-image{
    height: 200px;
    position: absolute;top: 900px;left: 100px;
}
.proj-image{
    height: 200px;
    position: absolute;top: 1170px;left: 30px;
}
.person-info h1 {
    margin: 0;
    font-size: 36px;
    position: absolute; top: 150px; right: 600px;
}

.person-info h3{
    position: absolute;top: 570px;right: 10px;
}
.content h4{
    position:absolute;top: 820px;right: 690px;
    font-size: large;
}
.content h5{
    position: absolute;top: 1180px;right:340px;
    font-size: large;
}
h6{
    font-size: larger;
    position: absolute; top: 1710px;right: 860px;
}
.projects a{
    font-family: system-ui;
}
.content a{
    text-decoration: none;
    color: red;
    transition: color 0.3s;
}
.content a:hover{
    color: white;
}
.person-info img {
    height: 330px;
    max-width: 100%;
    border-radius: 50%;
    margin-top: 20px;
    position: absolute; top: 210px;right: 550px;
}

footer {
    background-color: whitesmoke;
    padding: 10px;
    position: absolute;top: 1730px;right:600px;
    border-radius: 30px;
}

[class^="icon"] img {
    height: 50px;
}


.icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: white;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.2);
}
